<div class="container d-block mx-auto justify-content-md-center", id = "pinteresting">
  <table >
  <thead>
    <tr>
      <th>Title</th>
      <th>Pin</th.>
      <th>Description</th>
      <th>Buy</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @pin.title %></td>
      <td><%= image_tag @pin.image.thumb('450x450>').url %></td>
        <td><%= @pin.description %></td>
        <td><%= link_to "Buy Now #{@pin.price}", braintree_new_path(@pin) %>
        <% if current_user.id == @pin.user_id %>
        <%= link_to 'Edit', edit_pin_path(@pin) %>
        <%= link_to 'Delete', @pin, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
          </tr>

  </tbody>
</table>
</div>
